body {
  height: 100%;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: rgb(48, 136, 107);
}

.left {
  height: 100%;
  width: 50%;
  font-size: larger;
  float: left;
}

.right {
  text-align: right;
  height: 100%;
  width: 50%;
  float: right;
  font-size: larger;
}

.wrapper {
  margin-top: 100px;
}

.message {
  margin-left: 42.5%;
}

.logbtn {
  margin-left: 41%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(44, 44, 238);
  color: aliceblue;
  font-size: medium;

}

.logbtn:disabled {
  background-color: darkgrey;
  color: black;
}

.try-btn{
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(44, 44, 238);
  color: aliceblue;
  font-size: medium;
}

.new-btn {
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(44, 44, 238);
  color: aliceblue;
  font-size: medium;
}

.form {
  margin-top: 20%;
  height: 50%;
  font-size: larger;
  align-items: center;
}

.player1 {
  margin-top: 0px;
  margin-left: 30%;
}

.player2 {
  margin-top: 50%;
  margin-left: 30%;
}

.square {
  height: 99px;
  width: 99px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.board {
  background-color: aqua;
  margin: auto;
  height: 302px;
  width: 302px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

input {
  text-align: left;
  width: 40%;
  margin-left: 30%;
}

#modal-modal-title{
  text-align: center;
}